{% extends "layout.html" %}

{% block content %}

<script>
    $(document).ready(function () {
        $("#btnSubmit").click(function () {
            var emotion_text = $('#input_emotion').val();
            var form = new FormData();
            form.append("emoji_input", emotion_text);

            var settings = {
                "url": "http://localhost:5555/detect_emoji",
                "method": "POST",
                "timeout": 0,
                "processData": false,
                "mimeType": "multipart/form-data",
                "contentType": false,
                "data": form
            };

            $.ajax(settings).done(function (response) {
                var json = $.parseJSON(response);
                $(json).each(function (i, val) {
                    $.each(val, function (k, v) {
                        if (k == "message")
                        {
                            var emotion_status = v.data[0]
                            if (emotion_status == "happy") {
                                $('#lblStatus3').html("Happy");
                                $('#showEmotion3').attr("src", "../static/images/happy.gif");
                            }
                            else if (emotion_status == "surprise") {
                                $('#lblStatus3').html("Surprise");
                                $('#showEmotion3').attr("src", "../static/images/surprise.gif");
                            }
                            else if (emotion_status == "angry") {
                                $('#lblStatus1').html("Angry");
                                $('#showEmotion1').attr("src", "../static/images/angry.gif");
                            }
                            else {

                                $('#lblStatus1').html("Other");
                                $('#showEmotion1').attr("src", "../static/images/neutral.gif");

                                $('#lblStatus2').html("Other");
                                $('#showEmotion2').attr("src", "../static/images/neutral.gif");

                                $('#lblStatus3').html("Other");
                                $('#showEmotion3').attr("src", "../static/images/neutral.gif");
                            }
                        }
                        else
                        {
                            console.log(k + " : " + v);
                        }
                    });
                }); 
            });
        });

        $("#recordButton").click(function () {
            $("#recordingsList").empty()
        });

        $("#btnUpload").click(function () {
            alert("hello");
            $('#lblStatus').html("Uploading...");
            
            var form = new FormData();
            form.append("upload_speech", filename.wav);
            console.log(form);
            var settings = {
                "url": "http://localhost:5555/upload_speech",
                "method": "POST",
                "timeout": 0,
                "processData": false,
                "mimeType": "multipart/form-data",
                "contentType": false,
                "data": form
            };
            console.log(settings);
            $.ajax(settings).done(function (response) {
                var json = $.parseJSON(response);
                $(json).each(function (i, val) {
                    $.each(val, function (k, v) {
                        if (k == "message") {
                            var message = v.data[0]
                            $('#lblStatus').html(message);
                        }
                    });
                });
            });
        });
    });
</script>
<div class="c-main">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12 col-md-6">
                <div class="card">
                    <header class="card-header"><b>Emotion Detection Inputs</b></header>
                    <div class="card-body">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-default">Input (Happy or Suprise): </span>
                            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" id="input_emotion">
                        </div>
                        <br />
                        <p><strong>Record voice and submit to detect emotion:</strong></p>
                        <div id="controls">
                            <button id="recordButton">Record</button>
                            <button id="pauseButton" disabled>Pause</button>
                            <button id="stopButton" disabled>Stop</button>
                        </div>
                        <div id="formats">Format: start recording to see sample rate</div>
                        <p><strong>Recordings:</strong></p>
                        <ol id="recordingsList"></ol>
                    </div>
                    <footer class="card-footer">
                        <input class="btn btn-primary btn-sm" id="btnSubmit" value="Submit (Text Only)"></input>
                        <input class="btn btn-primary btn-sm" id="btnUpload" value="Upload"></input>
                    </footer>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div id="lblStatus" class="alert alert-success" role="alert">
                    Emoji Detection by Speech!
                </div>
                <div class="accordion" id="myAccordion">
                    <div class="panel">
                        <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#collapsible-1" data-parent="#myAccordion">Group 1</button>
                        <div id="collapsible-1" class="collapse">
                            <div class="card">
                                <header class="card-header"><b>Result</b></header>
                                <div class="card-body">

                                    <div id='group_1_result'>
                                        <div id="lblStatus1" class="d-flex p-2 bd-highlight" role="alert">
                                            Other
                                        </div>
                                        <img id="showEmotion1" src="../static/images/neutral.gif" style="width:50%" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#collapsible-2" data-parent="#myAccordion">Group 2</button>
                        <div id="collapsible-2" class="collapse">
                            <div class="card">
                                <header class="card-header"><b>Result</b></header>
                                <div class="card-body">

                                    <div id='group_2_result'>
                                        <div id="lblStatus2" class="d-flex p-2 bd-highlight" role="alert">
                                            Other
                                        </div>
                                        <img id="showEmotion2" src="../static/images/neutral.gif" style="width:50%" />
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#collapsible-3" data-parent="#myAccordion">Group 3</button>
                        <div id="collapsible-3" class="collapse">
                            <div class="card">
                                <header class="card-header"><b>Result</b></header>
                                <div class="card-body">
                                    <div id='group_3_result'>
                                        <div id="lblStatus3" class="d-flex p-2 bd-highlight" role="alert">
                                            Other
                                        </div>
                                        <img id="showEmotion3" src="../static/images/neutral.gif" style="width:50%" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



{% endblock %}
