#unit testing library
pytest==6.2.1

#flask framework
flask_sqlalchemy==2.4.4
flask-swagger-ui==3.36.0
pymssql==2.1.5
jwt==1.1.0
click==6.7

#computer vision library
Image==1.5.33
opencv-python==4.4.0.46

numpy==1.19.3
scipy==1.6.0
python-speech-features==0.6